################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceBrokerListener/ServiceBrokerListener.Domain/obj/Debug
/ServiceBrokerListener/.vs/config
/ServiceBrokerListener/ServiceBrokerListener.UnitTests/obj/Debug
/ServiceBrokerListener/ServiceBrokerListener.WebUI
/ServiceBrokerListener/.vs/ServiceBrokerListener/v14
