/ServiceBrokerListener/ServiceBrokerListener.Domain.Core/.vs/*.dg
/ServiceBrokerListener/ServiceBrokerListener.Domain.Core/.vs/ServiceBrokerListener.Domain.Core/v14/*.suo
/ServiceBrokerListener/ServiceBrokerListener.Domain.Core/src/ServiceBrokerListener.Domain.Core/obj
/ServiceBrokerListener/ServiceBrokerListener.Domain.Core/src/ServiceBrokerListener.Domain.Core/bin
/ServiceBrokerListener/ServiceBrokerListener.Domain.Core/src/ServiceBrokerListener.UnitTests.Core/obj
/ServiceBrokerListener/ServiceBrokerListener.Domain.Core/src/ServiceBrokerListener.UnitTests.Core/bin
/ServiceBrokerListener/ServiceBrokerListener/packages
*.dg
*.suo
