################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceBrokerListener/ServiceBrokerListener.Domain/obj/Debug
